<!-- // ************************************************************************************************************************************************** -->
<!-- // HOME HEADING START-->

<!-- <nz-divider></nz-divider> -->
<!-- // HOME HEADING END-->
<!-- // ************************************************************************************************************************************************** -->
<div class="section">
    <div class="row row_top">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="row">
                <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                    <thead>
                      <tr>
                        <th
                          [nzSelections]="listOfSelection"
                          [(nzChecked)]="checked"
                          [nzIndeterminate]="indeterminate"
                          (nzCheckedChange)="onAllChecked($event)"
                        ></th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of rowSelectionTable.data">
                        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.address }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </div>

    </div>


</div>