<!-- // ************************************************************************************************************************************************** -->
<!-- // HOME HEADING START-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <h2 nz-typography>Post Payment Audit</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button nz-button style="float: right;margin-left: 20px; color: #FF4A55 !important; border: 1px solid #FF4A55 !important;" nzType="primary" nzGhost>Reset</button>
        <button nz-button style="float: right;margin-left: 20px; background-color: #FF4A55 !important; color: #fff !important;" [disabled]="disable_next_btn"
            nzType="primary">Next</button>

    </div>
</div>

<nz-divider></nz-divider>
<!-- // HOME HEADING END-->
<!-- // ************************************************************************************************************************************************** -->

<nz-divider></nz-divider>
<div class="section">
    <div class="row row_top">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <nz-card nzHoverable [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="Data" nzDescription="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"></nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                    </ng-template>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <nz-card nzHoverable [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="Claim" nzDescription="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"></nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                    </ng-template>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <nz-card nzHoverable [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="Reports" nzDescription="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"></nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                    </ng-template>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <nz-card nzHoverable [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="Audit" nzDescription="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"></nz-card-meta>
                    </nz-card>
                    <ng-template #coverTemplate>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <ul nz-menu nzMode="inline">
                <li nz-submenu nzTitle="Select Audit Type" nzOpen>
                    <ul>
                        <li nz-menu-group>
                            <ul>
                                <li nz-menu-item nzSelected>Valume Rebet 1</li>
                                <li nz-menu-item>New Store </li>
                                <li nz-menu-item>Deducted co-op</li>
                                <li nz-menu-item>Deducted co-op one</li>
                                <li nz-menu-item>Deducted co-op two</li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>


</div>